@font-face {
    font-family: poppin-regular;
    src: url("./Assets/fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: poppin-extra;
    src: url("./Assets/fonts/Poppins-ExtraBold.ttf");
}
@font-face {
    font-family: logo;
    src: url("./Assets/fonts/MilestoneFreeVersion-Script.otf");
}
@font-face {
    font-family: poppin-bold;
    src: url("./Assets/fonts/Poppins-Bold.ttf");
}
$primheadsize:35px;
$divheadsize:28px;