@font-face {
  font-family: poppin-regular;
  src: url("./Assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: poppin-extra;
  src: url("./Assets/fonts/Poppins-ExtraBold.ttf");
}
@font-face {
  font-family: logo;
  src: url("./Assets/fonts/MilestoneFreeVersion-Script.otf");
}
@font-face {
  font-family: poppin-bold;
  src: url("./Assets/fonts/Poppins-Bold.ttf");
}
body {
  font-family: poppin-regular;
  margin: 0;
  padding: 0;
  color: #438686;
}

.progress-bar {
  background-color: #438686;
}

.navbar {
  background-color: #ffffff !important;
  border-radius: 10px;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.navbar-brand {
  font-family: logo;
  color: #438686 !important;
  font-size: 22px;
  font-weight: 550;
}

.active {
  color: #438686 !important;
  font-weight: 600;
}

.cart-head {
  background-color: #C1DCDC;
  height: 100px;
  font-size: 28px;
  font-family: poppin-extra;
  text-align: center;
  color: white;
}

.cart-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-right {
  margin: 0;
}

.card {
  width: 100%;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
  max-width: 48em;
  flex-direction: row;
  background-color: #ffffff;
  border: 0;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin: 3em auto;
}

.card.dark {
  color: #000000;
  margin: 1%;
  margin-left: auto;
  margin-right: auto;
}

.card.card.bg-light-subtle .card-title {
  color: dimgrey;
}

.card img {
  max-width: 25%;
  margin: auto;
  padding: 0.5em;
  border-radius: 0.7em;
}

.card-body {
  display: flex;
  justify-content: space-between;
}

.text-section {
  max-width: 60%;
}

.card-body {
  margin-top: auto;
  margin-bottom: auto;
}

.cta-section {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.cta-section .btn {
  padding: 0.3em 0.5em;
  /* color: #696969; */
}

.card-title {
  font-family: poppin-bold;
  color: #438686;
  margin-bottom: 0px;
}

.card .company {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 13px;
  color: gray;
}

.card-cont {
  margin-top: 3%;
}
.card-cont p {
  font-size: 15px;
  margin-bottom: 1.5%;
}

.card.bg-light-subtle .cta-section .btn {
  background-color: #898989;
  border-color: #898989;
}

.quantity-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  margin: 0 auto;
}

.quantity-field .value-button {
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 100%;
  padding: 0;
  background: #438686;
  color: white;
  outline: none;
  cursor: pointer;
}

.quantity-field .value-button:hover {
  background: rgb(230, 230, 230);
}

.quantity-field .value-button:active {
  background: rgb(210, 210, 210);
}

.quantity-field .decrease-button {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

.quantity-field .increase-button {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

.quantity-field .number {
  display: inline-block;
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 100%;
  line-height: 40px;
  font-size: 11pt;
  box-sizing: border-box;
  background: white;
  font-family: calibri;
}

.quantity-field .number::selection {
  background: none;
}

.checkout-left {
  float: left;
}

.checkout-right {
  float: right;
}

.checkout-cont {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.row .col-sm:nth-of-type(2) {
  text-align: end;
}

.checkout-head {
  text-align: center;
  font-family: poppin-bold;
  font-size: 25px;
  color: #438686;
}

.checkout-cont {
  margin: 3%;
  height: auto;
  padding: 5%;
  color: #000000;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.checkout-button {
  text-align: center;
  background-color: #438686;
  color: white;
  border: 0px;
  height: 40px;
  width: 100%;
  margin-top: 6%;
}

.price {
  padding: 2%;
  font-size: 19px;
  color: #438686;
  margin-right: 10%;
  font-family: poppin-bold;
}

.delete-btn {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 30px;
  color: #b3abab;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card-body:hover .delete-btn {
  opacity: 1;
}

@media screen and (max-width: 475px) {
  .card {
    font-size: 0.9em;
  }
  .cta-section {
    padding: 3%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card img {
    max-width: 90%;
    margin: auto;
    padding: 0.5em;
    border-radius: 0.7em;
  }
  .card {
    flex-direction: column;
  }
  .text-section {
    padding: 5%;
    max-width: 100%;
  }
  .quantity-field {
    margin: 0;
  }
}

/*# sourceMappingURL=BuyMedication.css.map */
