@import "./Colors.scss";
@import "./Font.scss";

.carousel-inner {
  padding: 1em;
}
.card {
  margin: 0 0.5em;
 
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;  border: none;
}
.carousel-control-prev,
.carousel-control-next {
  padding: 0.8%;
  background-color: $primcolor;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-item {
  margin-right: 2%;
  display: block;
}
.carousel-inner {
  display: flex;
}

.card .img-wrapper {
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 16em;

}
.card {
    img {
        margin-top: 10%;
        object-fit: contain;
          max-height: 100%;
      border-radius: 10px;
    }
}

.card-cont {
  margin: 0% 3% 8% 3% ;
}
.btn {
  background-color: $primcolor;
}
.add-cart {
  float: right;
}
.card-title {
  font-family: poppin-extra;
}
.card-rate {
  float: left;
  font-family: poppin-bold;
  font-size: 23px;
  padding-top: 1%;
}
.fa {
  color:$primcolor;
}

.card-text {
  color: black;
}
.checked {
  color: orange;
}
#rating{
    margin-bottom: 10%;
}
